  <h1><%= t("user-show-page") %></h1>

  <p><%= t("name") %>: <%= @user.name %></p>
  <p><%= t("email") %>: <%= @user.email %></p>

    <div ><%= link_to t("edit"), edit_user_registration_path %></div>
