<h1><%= t('shared_book.yearly_column_chart') %></h1>

<%= form_with url: column_chart_yearly_path, method: :get do |form| %>
  <%= form.label :start_year, t('shared_book.start_year') %>
  <%= form.text_field :start_year, type: "number", value: params[:start_year] || Date.today.year %>

  <%= form.label :end_year, t('shared_book.end_year') %>
  <%= form.text_field :end_year, type: "number", value: params[:end_year] || Date.today.year %>

  <%= form.submit t('shared_book.display'), class: "btn btn-primary" %>
<% end %>

<%= column_chart [
   { name: t('shared_book.income'), data: @yearly_incomes.map { |record| [record.year.to_i, record.total_amount] } },
   { name: t('shared_book.expense'), data: @yearly_expenses.map { |record| [record.year.to_i, record.total_amount] } }], 
    library: { colors: ['green', 'red'] }, xtitle: t('shared_book.year_month'), ytitle: t('shared_book.amount') %>

<%= link_to t('shared_book.monthly_pie_chart'), pie_chart_monthly_path %>
<%= link_to t('shared_book.yearly_pie_chart'), pie_chart_yearly_path %>
<%= link_to t('shared_book.monthly_column_chart'), column_chart_monthly_path %>