<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row mb-3">
        <div class="col">
            <h1 class="h3 mb-2 text-gray-800"><%= t('shared_book.monthly_column_chart') %></h1>
        </div>
        <div class="col text-right">
            <%= link_to t('shared_book.monthly_pie_chart'), pie_chart_monthly_path, class: "btn btn-info btn-outline-light" %>
            <%= link_to t('shared_book.yearly_pie_chart'), pie_chart_yearly_path, class: "btn btn-info btn-outline-light" %>
            <%= link_to t('shared_book.yearly_column_chart'), column_chart_yearly_path, class: "btn btn-info btn-outline-light" %>
        </div>
    </div>

  <!-- form Data -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <%= form_with url: column_chart_monthly_path, method: :get do |form| %>
        <%= form.label :selected_year, t('shared_book.year') %>
        <%= form.text_field :selected_year, type: "number", value: params[:selected_year] || Date.today.year %>

        <%= form.label :start_month, t('shared_book.start_month') %>
        <%= form.select :start_month, options_for_select((1..12).map { |m| [Date::MONTHNAMES[m], m] }, params[:start_month]), { include_blank: true } %>

        <%= form.label :end_month, t('shared_book.end_month') %>
        <%= form.select :end_month, options_for_select((1..12).map { |m| [Date::MONTHNAMES[m], m] }, params[:end_month]), { include_blank: true } %>

        <%= form.submit t('shared_book.display'), class: "btn btn-success" %>
      <% end %>
    </div> 

  <%= column_chart [
    { name: t('shared_book.income'), data: @monthly_incomes.map { |record| ["#{record.year.to_i}-#{record.month.to_i}", record.total_amount] } },
    { name: t('shared_book.expense'), data: @monthly_expenses.map { |record| ["#{record.year.to_i}-#{record.month.to_i}", record.total_amount] } }], 
      library: { colors: ['green', 'red'] }, xtitle: t('shared_book.year_month'), ytitle: t('shared_book.amount') %>
      
  </div>
</div>