<% if @results.present? %>
  <h2>負担比率</h2>
  <table>
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>負担比率</th>
      </tr>
    </thead>
    <tbody>
      <% User.all.each_with_index do |user, index| %>
        <tr>
          <td><%= user.name %>:  </td>
          <td><%= @results[index] %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h1>月ごとの合計金額</h1>
  <table>
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>収支合計金額</th>
        <th>負担すべき金額</th>
        <th>差額</th>
      </tr>
    </thead>  
    <tbody>
      <% @users.each_with_index do |user, index| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.total_amount_by_month(@year, params[:month]) %></td>
          <td><%= @total_expenses * @results[index] / 100 %></td>
          <td><%= @total_expenses * @results[index] / 100 - (user.total_amount_by_month(@year, params[:month]) * @results[index] / 100) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p>No results available.</p>
<% end %>