<%= form_for @expense_record || ExpenseRecord.new, url: @expense_record&.persisted? ? expense_record_path(@expense_record) : expense_records_path, method: @expense_record&.persisted? ? :patch : :post do |form| %>
  <% User.all.each do |user| %>
      <label for="<%= "user_incomes_#{user.id}" %>">
        <%= "#{user.name}" %><%= t('shared_book.s_yearly_income') %>:
      </label>
      <%= text_field :income, id: "user_incomes_#{user.id}" %><br>
  <% end %>

     <ul>
    <li>
      <%= form.label :year, 'Year' %>
      <%= form.select :year, (Date.today.year - 10..Date.today.year + 10).to_a, { prompt: 'Year' } %>
    </li>
    <li>
      <%= form.label :month, 'Month' %>
      <%= form.select :month, Date::MONTHNAMES.compact.each_with_index.map { |month, index| [month, index + 1] }, { prompt: 'Month' } %>
    </li>
  </ul>

  <%= form.submit @expense_record&.persisted? ? t('shared_book.update') : t('shared_book.submit') %>
<% end %>