<%= form_for @expense_record || ExpenseRecord.new, url: @expense_record&.persisted? ? expense_record_path(@expense_record) : expense_records_path, method: @expense_record&.persisted? ? :patch : :post do |f| %>
  <% User.all.each do |user| %>
    <label for="<%= "user_incomes_#{user.id}" %>">
      <%= "#{user.name} の年収：" %>
    </label>
    <%= f.text_field "#{user.id}_income", value: @expense_record&.user&.income, id: "user_incomes_#{user.id}" %><br>
  <% end %>

  <%= f.select :year, (Date.today.year - 10..Date.today.year + 10).to_a, { prompt: 'Year' } %>
  <%= f.select :month, Date::MONTHNAMES.compact.each_with_index.map { |month, index| [month, index + 1] }, { prompt: 'Month' } %>
  <%= f.submit @expense_record&.persisted? ? "更新" : "登録" %>
<% end %>