<h1><%= t('shared_book.expense_record_index') %></h1>
<% if @users.any? %>
  <table>
    <tr>
      <th><%= t('shared_book.year') %></th>
      <th><%= t('shared_book.month') %></th>
      <th><%= t('shared_book.user_name') %></th>
      <th><%= t('shared_book.income') %></th>
      <th><%= t('shared_book.ratio') %>(%)</th>
      <th><%= t('shared_book.total_amount') %></th>
      <th><%= t('shared_book.burden_amount') %></th>
      <th><%= t('shared_book.difference') %></th>
      <th colspan="3"></th>
    </tr>

    <% ExpenseRecord.all.each do |record| %>
      <% record.expense_records_details.each_with_index do |detail, index| %>
        <tr>
          <% if index == 0 %>
            <td rowspan="<%= record.expense_records_details.size %>"><%= record.year %>年</td>
            <td rowspan="<%= record.expense_records_details.size %>"><%= record.month %>月</td>
          <% end %>
          <td><%= detail.user.name %></td>
          <td><%= number_with_delimiter(detail.income) %></td>
          <td><%= "#{detail.ratio}%" %></td>
          <td><%= number_with_delimiter(detail.total_amount) %></td>
          <td><%= number_with_delimiter(detail.burden_amount) %></td>
          <td><%= number_with_delimiter(detail.difference) %></td>
        </tr>
        <% if index == record.expense_records_details.size - 1 %>
          <% (record.expense_records_details.size - 1).times do %>
            <tr><td colspan="2"></td></tr>
          <% end %>
        <% end %>
      <% end %>
      
          <td><%= link_to t('shared_book.details'), expense_record_path(record) %></td>
          <td><%= link_to t('shared_book.edit'), edit_expense_record_path(record) %></td>
          <td><%= button_to t('shared_book.destroy'), expense_record_path(record), method: :delete, class: "btn btn-secondary" %></td>
    <% end %>
  </table>
<% else %>
  <p><%= t('shared_book.no_user_found') %></p>
<% end %>

<%= link_to t('shared_book.expense_record_new'), new_expense_record_path %>