<h1>Expense Record Details</h1>

<% if @users.any? %>
  <table>
    <tr>
      <th>User</th>
      <th>Year</th>
      <th>Month</th>
      <th>Ratio</th>
      <th>Total Amount</th>
      <th>Burden Amount</th>
      <th>Difference</th>
    </tr>

    <% @users.each do |user| %>
      <% expense_record = ExpenseRecord.find_by(user: user, year: @year, month: @month) %>

      <% if expense_record.present? %>
        <tr>
          <td><%= user.name %></td>
          <td><%= expense_record.year %></td>
          <td><%= expense_record.month %></td>
          <td><%= expense_record.ratio %>%</td>
          <td><%= expense_record.total_amount %></td>
          <td><%= expense_record.burden_amount %></td>
          <td><%= expense_record.difference %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <div>
    <%#= link_to t('shared_book.edit'), edit_expense_record_path(expense_record) %> |
    <%= link_to t('shared_book.expense_records_index'), expense_records_path %>
  </div>
<% else %>
  <p>No expenses records found.</p>
<% end %>

<%= link_to 'Back', expense_records_path %>