<h1><%= t('shared_book.expense_record_details') %></h1>

<% if @users.any? %>
  <table>
    <tr>
      <th><%= t('shared_book.user_name') %></th>
      <th><%= t('shared_book.year') %></th>
      <th><%= t('shared_book.month') %></th>
      <th><%= t('shared_book.income') %></th>
      <th><%= t('shared_book.ratio') %>(%)</th>
      <th><%= t('shared_book.total_amount') %></th>
      <th><%= t('shared_book.burden_amount') %></th>
      <th><%= t('shared_book.difference') %></th>
    </tr>

    <% @users.each do |user| %>
      <% expense_record = ExpenseRecord.find_by(user: user, year: @year, month: @month) %>

      <% if expense_record.present? %>
        <tr>
          <td><%= user.name %></td>
          <td><%= expense_record.year %></td>
          <td><%= expense_record.month %></td>
          <td><%= expense_record.income %></td>
          <td><%= expense_record.ratio %>%</td>
          <td><%= expense_record.total_amount %></td>
          <td><%= expense_record.burden_amount %></td>
          <td><%= expense_record.difference %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <div>
    <%#= link_to t('shared_book.edit'), edit_expense_record_path(user_record) %> |
    <%= link_to t('shared_book.expense_record_index'), expense_records_path %>
  </div>
<% else %>
  <p><%= t('shared_book.no_expense_record_found') %></p>
<% end %>
