<h1><%= t('shared_book.expense_record_details') %></h1>

<% if @expense_record %>
  <table>
    <tr>
      <th><%= t('shared_book.user_name') %></th>
      <th><%= t('shared_book.year') %></th>
      <th><%= t('shared_book.month') %></th>
      <th><%= t('shared_book.income') %></th>
      <th><%= t('shared_book.ratio') %>(%)</th>
      <th><%= t('shared_book.total_amount') %></th>
      <th><%= t('shared_book.burden_amount') %></th>
      <th><%= t('shared_book.difference') %></th>
    </tr>

    <% @expense_record.expense_records_details.each do |detail| %>
      <tr>
        <td><%= detail.user.name %></td>
        <td><%= detail.expense_record.year %></td>
        <td><%= detail.expense_record.month %></td>
        <td><%= number_with_delimiter(detail.income) %></td>
        <td><%= detail.ratio.round %>%</td>
        <td><%= number_with_delimiter(detail.total_amount) %></td>
        <td><%= number_with_delimiter(detail.burden_amount) %></td>
        <td><%= number_with_delimiter(detail.difference) %></td>
      </tr>
    <% end %>
  </table>
  <div>
    <%= link_to t('shared_book.edit'), edit_expense_record_path(@expense_record) %> |
    <%= link_to t('shared_book.expense_record_index'), expense_records_path %>
  </div>
<% else %>
  <p><%= t('shared_book.no_expense_record_found') %></p>
<% end %>