<!DOCTYPE html>
<html>
  <head>
    <title><%= t('shared_book.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <%= link_to t('shared_book.incomes_expenses_index'), incomes_expenses_path %>
      <%= link_to t('shared_book.user_show'), user_session_path %>
      <%= link_to t('shared_book.sign_out'), destroy_user_session_path, method: :get %>
    <% else %>
      <%= link_to t('shared_book.sign_up'), new_user_registration_path %>
      <%= link_to t('shared_book.sign_in'), new_user_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
