<%= form_with(model: incomes_expense) do |form| %>
  <% if incomes_expense.errors.any? %>
    <div style="color: red">
    
      <h2><%= t("errors.template.header", model: IncomesExpense.model_name.human, count: @incomes_expense.errors.count) %>:</h2>

      <ul>
        <% incomes_expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label t('shared_book.dealt_on'), for: 'incomes_expense_dealt_on' %>
    <%= form.date_field :dealt_on, id: 'incomes_expense_dealt_on' %>
  </div>

  <div>
    <%= form.label t('shared_book.income_expense_type'), for: 'incomes_expense_income_expense_type' %>
    <%= form.select :income_expense_type, IncomesExpense.income_expense_types.keys, {include_blank: true}, id: 'incomes_expense_income_expense_type' %>
  </div>

  <div>
    <%= form.label t('shared_book.company'), for: 'incomes_expense_company' %>
    <%= form.text_field :company, id: 'incomes_expense_company' %>
  </div>

  <div>
    <%= form.label t('shared_book.category'), for: 'incomes_expense_category_id' %>
    <%= form.collection_select :category_id, @categories, :id, :name, { include_blank: true }, id: 'incomes_expense_category_id' %>
  </div>

  <div>
    <%= form.label t('shared_book.description'), for: 'incomes_expense_description' %>
    <%= form.text_area :description, id: 'incomes_expense_description' %>
  </div>

  <div>
    <%= form.label t('shared_book.remarks'), for: 'incomes_expense_remarks' %>
    <%= form.text_area :remarks, id: 'incomes_expense_remarks' %>
  </div>

  <div>
    <%= form.label t('shared_book.amount'), for: 'incomes_expense_amount' %>
    <%= form.text_field :amount, id: 'incomes_expense_amount' %>
  </div>

  <div>
    <%= form.label :image, t('shared_book.image') %>
    <%= form.file_field :image, id: 'incomes_expense_image' %>
  </div>

  <div>
    <%= form.submit @incomes_expense&.persisted? ? t('shared_book.update') : t('shared_book.submit'), class: "btn btn-success" %>
  </div>
<% end %>
