<div id="<%= dom_id incomes_expense %>">
  <p>
    <strong>Dealt on:</strong>
    <%= incomes_expense.dealt_on %>
  </p>

  <p>
    <strong>Income expense type:</strong>
    <%= incomes_expense.income_expense_type %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= incomes_expense.company %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= incomes_expense.description %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= incomes_expense.remarks %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= incomes_expense.amount %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= incomes_expense.image %>
  </p>

</div>
