<div id="<%= dom_id incomes_expense %>">
  <p>
    <strong><%= t('shared_book.dealt_on') %>:</strong>
    <%= incomes_expense.dealt_on %>
  </p>

  <p>
    <strong><%= t('shared_book.income_expense_type') %>:</strong>
    <%= incomes_expense.income_expense_type %>
  </p>

  <p>
    <strong><%= t('shared_book.company') %>:</strong>
    <%= incomes_expense.company %>
  </p>

  <p>
    <strong><%= t('shared_book.description') %>:</strong>
    <%= incomes_expense.description %>
  </p>

  <p>
    <strong><%= t('shared_book.remarks') %>:</strong>
    <%= incomes_expense.remarks %>
  </p>

  <p>
    <strong><%= t('shared_book.amount') %>:</strong>
    <%= incomes_expense.amount %>
  </p>

  <p>
    <strong><%= t('shared_book.image') %>:</strong>
    <%= incomes_expense.image %>
  </p>

</div>
