<div id="<%= dom_id incomes_expense %>">
  <p>
    <strong><%= t('shared_book.dealt_on') %>:</strong>
    <%= incomes_expense.dealt_on %>
  </p>

  <p>
    <strong><%= t('shared_book.income_expense_type') %>:</strong>
    <%= incomes_expense.income_expense_type %>
  </p>

  <p>
    <strong><%= t('shared_book.company') %>:</strong>
    <%= incomes_expense.company %>
  </p>

<p>
  <strong><%= t('shared_book.categories') %>:</strong>
  <% @incomes_expenses.each do |incomes_expense| %>
    <% incomes_expense.categories.each do |category| %>
      <%= category.name %>
    <% end %>
  <% end %>
</p>

  <p>
    <strong><%= t('shared_book.description') %>:</strong>
    <%= incomes_expense.description %>
  </p>

  <p>
    <strong><%= t('shared_book.remarks') %>:</strong>
    <%= incomes_expense.remarks %>
  </p>

  <p>
    <strong><%= t('shared_book.amount') %>:</strong>
    <%= incomes_expense.amount %>
  </p>

  <p>
    <% if incomes_expense.image.attached? %>
      <div>
        <strong><%= t('shared_book.image') %>:</strong> 
        <%= link_to t('shared_book.view_image'), incomes_expense.image %>
      </div>
    <% end %>
  </p>

</div>
