<h1><%= t('shared_book.calendar_page') %></h1>

<%= month_calendar(events: @incomes_expenses) do |date, incomes_expenses| %>
  <%= date.day %>

  <% total_amount = incomes_expenses.sum(&:amount) %>
  
  <% if incomes_expenses.any? %>
    <%= link_to total_amount, incomes_expenses_path(@incomes_expenses) %>
  <% end %>
<% end %>

<% @incomes_expenses.each do |incomes_expense| %>
    <%= render incomes_expense %>
  <% end %>