<h1><%= t('shared_book.incomes_expenses_index') %></h1>

<% if @incomes_expenses.present? && @incomes_expenses.any? %>
  <table>
    <thead>
      <tr>
        <th><%= t('shared_book.dealt_on') %></th>
        <th><%= t('shared_book.income_expense_type') %></th>
        <th><%= t('shared_book.company') %></th>
        <th><%= t('shared_book.categories') %></th>
        <th><%= t('shared_book.description') %></th>
        <th><%= t('shared_book.remarks') %></th>
        <th><%= t('shared_book.amount') %></th>
        <th><%= t('shared_book.image') %></th>
      </tr>
    </thead>
    <tbody>
    <% @incomes_expenses.each do |incomes_expense| %>
        <tr>
          <td><%= incomes_expense.dealt_on %></td>
          <td><%= incomes_expense.income_expense_type %></td>
          <td><%= incomes_expense.company %></td>
          <td>
              <% category = Category.find(incomes_expense.category_id) %>
              <%= category.name %>
          </td>
          <td><%= incomes_expense.description %></td>
          <td><%= incomes_expense.remarks %></td>
          <td><%= number_with_delimiter(incomes_expense.amount) %></td>
          <td><% if incomes_expense.image.attached? %>
                <div>
                  <strong><%= t('shared_book.image') %>:</strong> 
                  <%= link_to t('shared_book.view_image'), incomes_expense.image %>
                </div>
              <% end %>
          </td>
          <td><%= link_to t('shared_book.details'), incomes_expense %></td>
          <td><%= link_to t('shared_book.edit'), edit_incomes_expense_path(incomes_expense) %></td>
          <td><%= button_to t('shared_book.destroy'), incomes_expense, method: :delete, class: "btn btn-secondary" %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
<% else %>
  <p>データが存在しません。</p>
<% end %>

<%= link_to t('shared_book.new_incomes_expenses'), new_incomes_expense_path %>