<h1><%= t('shared_book.incomes_expenses_index') %></h1>

<div id="incomes_expenses">
  <% @incomes_expenses.each do |incomes_expense| %>
    <%= render incomes_expense %>
    <p>
      <%= link_to t('shared_book.details'), incomes_expense %>
      <%= link_to t('shared_book.edit'), edit_incomes_expense_path(incomes_expense) %>
      <%= button_to t('shared_book.destroy'), @incomes_expense, method: :delete %>
    </p>
  <% end %>
</div>

<%= link_to t('shared_book.new_incomes_expenses'), new_incomes_expense_path %>

<%= month_calendar do |date| %>
  <%= date %>
<% end %>

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
  </div>