<p style="color: green"><%= notice %></p>

<%= render @incomes_expense %>

<div>
  <%= link_to "Edit this incomes expense", edit_incomes_expense_path(@incomes_expense) %> |
  <%= link_to "Back to incomes expenses", incomes_expenses_path %>

  <%= button_to "Destroy this incomes expense", @incomes_expense, method: :delete %>
</div>
